li {
  list-style-type: none;
}
.grid-container {
  display: grid;
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.grid-container div {
  grid-template-columns: 1fr, 2fr, 1fr;
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  color: white;
  border: #d5df7f 1px solid;
  
}
